:root {
  /* ---------------------------------------- */
  /* ---------------- COLORS ---------------- */
  /* ---------------------------------------- */

  /* ----- MAIN COLORS ----- */
  --primary-blue: #536dfe;
  --secondary-blue: #f1f3ff;
  --tertiary-blue: #364fc7;
  --dark-blue: #172255;
  --primary-violet: #9e3dff;
  --ocean: #00C2FF;
  --red: #FF005C;
  --white: #fff;

  /* ----- LOWER OPACITY COLORS ----- */
  --primary-blue-90: rgb(83, 109, 254, 0.9);
  --primary-blue-40: rgb(83, 109, 254, 0.4);
  --primary-blue-20: rgb(83, 109, 254, 0.2);

  --secondary-blue-70: rgb(241, 243, 255, 0.7);

  --tertiary-blue-50: rgb(83, 109, 254, 0.5);

  --ocean-30: rgb(0, 194, 255, 0.3);

  --primary-violet-60: rgb(158, 61, 255, 0.6);
  --primary-violet-40: rgb(158, 61, 255, 0.4);
  --primary-violet-30: rgb(158, 61, 255, 0.3);
  --primary-violet-20: rgb(158, 61, 255, 0.2);
  
  --white-70: rgb(255, 255, 255, 0.7);
  --white-60: rgb(255, 255, 255, 0.6);
  --white-30: rgb(255, 255, 255, 0.3);
  --white-10: rgb(255, 255, 255, 0.1);

  /* ----- GRADIENTS ----- */
  --main-gradient: var(--primary-blue), var(--primary-violet);
  --note-gradient: var(--primary-blue-90), var(--primary-violet-40);
  --folder-gradient: var(--primary-blue-90), var(--tertiary-blue);
  --note-border-gradient: var(--white-60), var(--primary-violet-30);
  --note-hover-gradient: var(--primary-blue-40), var(--primary-violet-20);
  --note-hover-border-gradient: var(--primary-blue-20), var(--primary-violet-30);
  --note-textbox-gradient: var(--white-30), var(--white-10);
  --btn-folder-gradient: var(--primary-blue), var(--tertiary-blue);
  --active-circle-gradient: var(--white), var(--primary-blue);

  /* --------------------------------------- */
  /* ---------------- UNITS ---------------- */
  /* --------------------------------------- */

  --message-fz-lg: 32px;
  --title-fz-lg: 26px;
  --title-fz-md: 20px;
  --link-fz: 18px;
  --main-fz: 16px;
  --btn-fz: 14px;
  --date-fz: 12px;
  --fz-sm: 10px;
}
